.products-ads{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    row-gap: 20px;
}
.products-ads img{
    width: 400px;
    cursor: pointer;
    
}
.coupen{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.coupen img{
    width: 310px;

}
@media(max-width:425px){
    .products-ads{
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;
        row-gap: 10px;
    }
    .products-ads img{
        width: 300px;
        cursor: pointer;
        
    }
    .coupen img{
        width: 110px;
    
    }
    .coupen{
        display: none;
    }
}