.product-display {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center ;
    /* margin: 35px 20px; */
    margin-top: 35px;
    

}

.product-display-left {
    display: flex;
    gap: 20px;
}

.product-display-img-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.product-display-img-list img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid gray;
    cursor: pointer;
}
.product-display-main-img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
.product-display-main-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.product-display-right{
    margin: 0 50px;
    padding-top: 30px;
}
.product-display-right p{
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 500;
}
.product-display-right h1{
    font-size: 40px;
    max-width: 400px;
    font-weight: 600;
}
.product-display-right-star{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1c1c1c;
    margin-top: 2px;
}
.product-display-right-star .star-icon{
    color: orangered;
}
.product-display-right-stock{
    font-size: 17px;
    font-weight: 600;
    margin: 7px 0;

}
.product-display-right-prices{
    display: flex;
    gap: 20px;
    font-size: 26px;
    font-weight: 600;
    margin:  20px 0;
}
.product-display-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.product-display-right-price-new{
    color: #ff4141;

}
.product-display-right-price-old span{
    color: #818181;

}
.product-display-right-price-new span{
    color: rgb(224, 148, 5);
    font-weight: 500;
}
.product-display-right-description{
    font-size: 17px;
    font-weight: 400;
    width: 400px;
}
.product-category{
    font-size: 17px;
    font-weight: 500;
    color: #0f0f0f;
    margin-top:20px ;
}
/* .product-display-right-size h1{
    margin-top: 20px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.product-display-right-sizes{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 5px;

}
.product-display-right-sizes div{
    border: 1px solid #b4b2b2;
    padding: 8px 16px;
    background-color: #e4e0e0;
    border-radius: 3px;
}
.product-display-right-sizes .qty-icon{
        border: 1px solid #979494;
        padding: 5px 16px;
        background-color: #b8b5b5;
        border-radius: 3px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
} */
.product-display-right button{
    padding: 10px 40px;
    width: 200px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #f12121;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}
@media(max-width:425px){
    .product-display {
        width: 100%;
        display: flex;
        justify-content: center ;
        margin-top: 35px;
        flex-direction: column;
        
    
    }
    .product-display-img-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-evenly;
    }
    .product-display-left {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }
    .product-display-img-list img {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        border: 2px solid gray;
        cursor: pointer;
    }
    .product-display-main-img {
        width: 400px;
        height: 400px;
        border-radius: 10px;
    }

    .product-display-right-description{
        font-size: 17px;
        font-weight: 400;
        width: 300px;
        text-align: justify;
    }
}